# editor / OS
.venv/
.vscode/
.DS_Store

# backend
backend/venv/
backend/.env
backend/__pycache__/
backend/.reference/

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.reference/
